/*==========================================================
    MODULE

    Name:
    Channel Icons

    Theme:
    Vampire: The Masquerade - Bloodlines Discord Theme

    Description:
    Custom icons for text and voice channels.

==========================================================*/

.iconContainer__2ea32{

    position:relative;

    display:flex;

    align-items:center;

    justify-content:center;

}

.icon__2ea32{

    display:none;

}

.iconContainer__2ea32::before{

    content:"";

    display:block;

    width:18px;

    height:18px;

    background:

        url("../../Assets/Icons/ankh.svg")

        center

        /contain

        no-repeat;

}