/*==========================================================
    MODULE

    Name:
    Guild Bar

    Theme:
    Vampire: The Masquerade - Bloodlines Discord Theme

    Description:
    Global server list layout.

==========================================================*/


/*==========================================================
    Guild Bar Background
==========================================================*/

.guilds__5e434{

    position:relative;

}

.guilds__5e434::before{

    content:"";

    position:absolute;

    inset:0;

    background:

        linear-gradient(

            180deg,

            var(--color-bg-2),

            var(--color-bg-1)

        );

    pointer-events:none;

    z-index:0;

}

.tree_ef3116{

    position:relative;

}


/*==========================================================
    Guild Wrapper
==========================================================*/

.wrapper_cc5dd2{

    transition:

        var(--layout-transition);

}


/*==========================================================
    Guild Hover
==========================================================*/

.wrapper_cc5dd2:hover{

    transform:

        translateX(5px);

}


/*==========================================================
    Guild Icons
==========================================================*/

.wrapper__6e9f8{

    filter:

        brightness(.82)
        saturate(.90);

    transition:

        filter var(--layout-transition);

}

.wrapper__6e9f8:hover{

    filter:

        brightness(1)
        saturate(1);

}


/*==========================================================
    Active Indicator
==========================================================*/

.item__58105{

    background:

        var(--color-blood-300) !important;

}