/*==========================================================
    MODULE

    Name:
    Context Menu

==========================================================*/

/*==========================================================
    Menu
==========================================================*/

.menu_c1e9c4{

    border:1px solid var(--color-border-primary) !important;
    border-radius:8px !important;

    overflow:hidden;

    box-shadow:
        0 0 20px var(--color-shadow-medium),
        0 0 8px var(--color-vitae-old);

}


/*==========================================================
    Menu Items
==========================================================*/

.item_c1e9c4{

    color:var(--color-text-primary);

    transition:
        background var(--layout-transition),
        color var(--layout-transition),
        padding-left var(--layout-transition);

}


/*==========================================================
    Hover
==========================================================*/

.item_c1e9c4:hover{

    background:var(--color-hover-bg) !important;

    color:var(--color-accent-200) !important;

    padding-left:18px;

}


/*==========================================================
    Icons
==========================================================*/

.item_c1e9c4
.icon_c1e9c4{

    color:var(--color-text-muted);

    transition:
        color var(--layout-transition),
        transform var(--layout-transition);

}


.item_c1e9c4:hover
.icon_c1e9c4{

    color:var(--color-accent-200);

    transform:scale(1.08);

}


/*==========================================================
    Submenu Arrow
==========================================================*/

.caret_c1e9c4{

    color:var(--color-text-muted);

}


.item_c1e9c4:hover
.caret_c1e9c4{

    color:var(--color-accent-200);

}


/*==========================================================
    Separators
==========================================================*/

.separator_c1e9c4{

    background:var(--color-border-primary) !important;

    opacity:.45;

}